/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --border-color: #CCCCCC;
    --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    --orange: #FFCD69;
    --dark-orange: #E4B965;
    --gray: #E0E0E0;
    --gray-dark: #797874;
    --white: #FFFFFF;
    --black: #000000;
}

html, body {
    margin: 0;
}

* {
    font-family: "Roboto";
    max-width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Product Ratings */
.product-rating-stars {
    display: flex;
    align-items: center;
    color: var(--gray);
    font-size: 1.25rem;
}

.product-rating-stars i {
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.2));
}

.product-rating-stars i.active {
    color: var(--orange);
    filter: drop-shadow(0 1px var(--dark-orange));
}

/* Buttons */
.btn {
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    padding: 0.75rem 1.5em;
    background: var(--white);
    color: var(--gray-dark);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease all;
}

.btn:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: black;
}

/* Basic Layout */
.container {
    width: 1312px;
    padding: 0 1rem;
    margin: 0 auto;
}

.header {
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

section {
    padding: 4rem 0;
}

/* Helper to hide section when data is not loaded yet */
.hide {
    display: none;
}

/* Product List Page */
.product-list {
    padding-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.product-card {
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.product-card .product-name {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.product-card .product-name:hover {
    color: var(--orange);
}

.product-card .product-rating {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    font-size: 1.5rem;
}

.product-card .product-rating-stars {
    padding-left: 0.5rem;
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 479px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Product Detail Page */
.product-detail-section {
    padding-top: 7rem;
}

.product-detail-section .container {
    width: 612px;
}

.product-detail-section .product-name {
    font-weight: bold;
    font-size: 2.75rem;
}

.product-detail-section .product-info {
    display: flex;
    align-items: center;
    padding: 2.75rem 0;
    justify-content: space-between;
}

.product-detail-section .product-rating {
    display: flex;
    align-content: center;
}

.product-detail-section .product-rating .product-rating-number {
    font-size: 2.75rem;
}

.product-detail-section .product-rating-stars {
    font-size: 2rem;
    padding-left: 1rem;
}

.product-reviews {
    border-top: 1px solid var(--border-color);
    padding-top: 2.5rem;
}

.product-reviews .product-reviews-header {
    font-weight: bold;
    font-size: 1.75rem;
}

.product-reviews-grid {
    padding-top: 1.875rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
}

.product-reviews-grid .product-rating-stars {
    padding-left: 0;
}

.product-reviews-grid .product-review {
    display: flex;
    align-items: flex-start;
}

.product-reviews-grid .product-review .product-review-text {
    padding-top: 0.5rem;
    padding-left: 1.875rem;
    flex: 1;
    color: var(--gray-dark);
}

.product-reviews-grid .product-review .product-review-text strong {
    color: var(--black);
}

@media (max-width: 479px) {
    .product-detail-section .product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-detail-section .product-info .product-rating {
        padding-bottom: 1rem;
    }

    .product-reviews-grid .product-review {
        flex-direction: column;
    }

    .product-reviews-grid .product-review .product-review-text {
        padding-left: 0;
        padding-top: 1rem;
    }
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.modal .modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.2s ease all;
    visibility: hidden;
}

.modal .modal-wrapper {
    background: var(--white);
    border-radius: 10px;
    position: fixed;
    padding: 3rem 2.75rem;
    width: 680px;
    transition: 0.4s ease all;
    transform: translateY(100vh);
    visibility: hidden;
}

.modal.active {
    visibility: visible;
}

.modal.active .modal-backdrop {
    opacity: 1;
    visibility: visible;
}

.modal.active .modal-wrapper {
    transform: none;
    visibility: visible;
}

.modal-wrapper .modal-header {
    font-weight: bold;
    font-size: 2.75rem;
}

.review-form {
    padding-top: 1.5rem;
}

.review-form .form-group {
    padding-bottom: 2.5rem;
}

.review-form .form-label {
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.review-form textarea {
    width: 100%;
    border: 0;
    font-size: 1.5rem;
}

.review-form .product-rating-stars {
    font-size: 2rem;
    cursor: pointer;
}
