<%= content_for :head do %>
  <%= javascript_pack_tag 'helper', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'detail', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="product-detail-section hide" id="productDetailSection">
  <input type="hidden" id="productId" value="<%= @id %>">
  <div class="container">
    <div class="product-name" id="productName">
      <!-- Product name will be put here by javascript-->
    </div>
    <div class="product-info">
      <div class="product-rating">
        <div class="product-rating-number" id="productRatingNumber">
          <!-- Product rating will be put here by javascript-->
        </div>
        <div class="product-rating-stars" id="productRatingStars">
          <!-- Product rating stars will be put here by javascript-->
        </div>
      </div>
      <div>
        <button class="btn">Add Review</button>
      </div>
    </div>
    <div class="product-reviews">
      <div class="product-reviews-header">
        Reviews
      </div>
      <div class="product-reviews-grid" id="productReviewGrid">
        <!-- Product reviews will be put here by javascript-->
      </div>
    </div>
  </div>
</section>
