<%= content_for :head do %>
  <%= javascript_pack_tag 'helper', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="product-list-section hide" id="productListSection">
  <div class="header">
    <div class="container">
      <h1>Products</h1>
    </div>
  </div>
  <div class="product-list">
    <div class="container">
      <div class="grid" id="productGrid">
        <!-- Product list will be put here by javascript-->
      </div>
    </div>
  </div>
</section>
